/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/copilot.data.migration.ask2agent.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/my-spring-lib.iml
/.idea/vcs.xml
/target/
**/target/
/.flattened-pom.xml
**/.flattened-pom.xml
/app-aspec/private.key
/.idea/copilotDiffState.xml
